<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.lfork.phonelimit">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 应用锁需要的权限 -->
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission
        android:name="android.permission.PACKAGE_USAGE_STATS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:name="com.lfork.phonelimit.LimitApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning,UnusedAttribute">
        <activity
            android:name="com.lfork.phonelimit.main.MainActivity"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait"
            android:theme="@style/MainActivityTheme"
            android:windowSoftInputMode="adjustNothing|stateHidden">
            <intent-filter>

                <!-- 增加launcher配置 -->
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.HOME" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.MULTIWINDOW_LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name="com.lfork.phonelimit.limitcore.LimitService"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name="com.lfork.phonelimit.main.focus.FakeHomeActivity"
            android:enabled="false">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.HOME" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name="com.lfork.phonelimit.statistics.StatisticActivity" />
        <activity android:name="com.lfork.phonelimit.whitename.WhiteNameEditActivity" />
        <activity
            android:name="com.lfork.phonelimit.browser.BrowserActivity"
            android:configChanges="orientation|screenSize"
            android:hardwareAccelerated="true"
            android:label="@string/title_activity_browser"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity android:name="com.lfork.phonelimit.ranklist.RankListActivity" />
        <activity android:name="com.lfork.phonelimit.timedtask.TimedTaskActivity" />
        <activity
            android:name="com.lfork.phonelimit.statistics.AppStatisticsList"
            android:hardwareAccelerated="true"
            android:theme="@style/StatisticsActivityTheme" />
        <activity
            android:name="com.lfork.phonelimit.statistics.PiePolylineChartActivity"
            android:hardwareAccelerated="true"
            android:theme="@style/StatisticsActivityTheme" />
        <activity
            android:name="com.lfork.phonelimit.statistics.BarChartActivity"
            android:hardwareAccelerated="true"
            android:theme="@style/StatisticsActivityTheme" />
        <activity
            android:name="com.lfork.phonelimit.help.HelpActivity"
            android:theme="@style/HelpActivityTheme"/>
        <activity android:name="com.lfork.phonelimit.user.UserInfoActivity"/>

        <activity
            android:name="com.lfork.phonelimit.main.settings.BgSettingActivity"
            android:theme="@style/TransparentAppTheme"/>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.lfork.phonelimit.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

    </application>

</manifest>